{% extends 'base.html' %}

{% block title %}Wordle Solver{% endblock %}

{% block content %}
<form action="#" method="post">
    <center>
    <h1 style="text-align: center;color:black">test deploy</h1>
    <input type="text" name="a" style="text-align: center;width: 55px;" value={{a}}>
    <input type="text" name="b" style="text-align: center;width: 55px;" value={{b}}>
    <br>
    <br>
    <input type="submit" value="Calculate">
    <p style="text-align: center; color:black">{{c}}</p>
    <a href="/">Reset</a>
    </center>
</form>
{% endblock %}





















